/* Self-hosted, browser-optimised subsets. Licences and source provenance are
   retained alongside the font files. */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  font-optical-sizing: auto;
  src: url("../fonts/google-sans-flex-variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url("../fonts/google-sans-code-variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Bitcount Grid Double";
  font-style: normal;
  font-weight: 600 800;
  font-display: swap;
  src: url("../fonts/bitcount-grid-double-variable.woff2") format("woff2-variations");
}
